<html>
    <head>
        <title>{{ .Title }}</title>
        <style>
            .tb { border-collapse: collapse; }
            .tb th, .tb td { padding: 5px; border: solid 1px #777; }
            .tb th { background-color: lightblue; }
        </style>
    </head>
    <body>
        <table class="tb">
            <tr>
                <th>Name</th>
                <th>Check Name</th>
                <th>Status Check</th>
            </tr>
            {{ range .Levels }}
                <tr>
                    <td rowspan = len(.Checks)>{{ .Name }}</td>
                    <td>{{ (index .Checks 0).Name }}</td>
                    <td>{{ (index .Checks 0).Status }}</td>
                </tr>
                {{ if ge (len .Checks) 1 }}
                    {{ range $i, $c := .Checks }}
                        {{ if ge $i 1 }}
                            <tr>
                                <td>
                                    <td>{{ .Name }}</td>
                                    <td>{{ .Status }}</td>
                                </td>
                            </tr>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </table>
    </body>
</html>